@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.p1 {
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.p2 {
  color: rgb(255, 247, 247);
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: #800000;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: #722F37;
  background-color: transparent;
  border: 2px solid #8B8000;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

.cta:hover {
  color: white;
  background-color: #FFD700;
}


#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}

#header .nav-list ul.active {
  left: 0%;
}

#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a {
  color: #FFD700;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}


#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}





#jerseys .jerseys {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#jerseys .jerseys-top {
  max-width: 500px;
  margin: 0 auto;
}

#jerseys .jerseys-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 20px;
}

#jerseys .jerseys-item {
  flex-basis: calc(33.33% - 20px);
  max-width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background: #333;
  margin: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow, transform 0.3s ease;
}

#jerseys .jerseys-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
  transform: scale(1.05);
}

#jerseys .jerseys-item .icon {
  width: 100%;
  height: 186px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
}

#jerseys .jerseys-item .icon img {
  max-width: 170px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

#jerseys .jerseys-item .details {
  padding: 10px 0 0;
  text-align: center;
}

#jerseys .jerseys-item h2 {
  font-size: 1.2rem;
  color: white;
  margin: 0;
}


@media (min-width: 768px) {
  #jerseys .jerseys-item {
    flex-basis: calc(33.33% - 20px);
    max-width: 250px;
  }
}

@media (min-width: 1024px) {
  #jerseys .jerseys-item {
    flex-basis: calc(33.33% - 20px);
    max-width: 300px;
  }
}




#player .player {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#player .player-header h1 {
  margin-bottom: 50px;
}

#player .all-player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#player .player-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#player .player-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
  text-align: center;
  position: relative;
}

#player .player-info h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), 0 0 25px rgba(255, 255, 255, 0.5), 0 0 5px rgba(255, 255, 255, 0.5);
}

#player .player-info h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 10px;
  text-transform: uppercase;
  color: #ffcc00;
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#player .player-info p {
  color: white;
  font-size: 1.1rem;
  line-height: 1.8;
  margin-top: 15px;
}

#player .player-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease transform;
  border: 5px solid #722F37;
}

#player .player-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

#player .player-img img {
  transition: 0.3s ease transform;
}

#player .player-item:hover .player-img img {
  transform: scale(1.1);
}

#arenas {
  padding: 50px 0;
}

#arenas .arenas {
  flex-direction: column;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}

#arenas .arenas-top {
  max-width: 500px;
  margin: 0 auto 30px;
}

#arenas .arenas-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#arenas .arenas-item {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background: #333;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow, transform 0.3s ease;
}

#arenas .arenas-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
  transform: scale(1.05);
}

#arenas .arenas-item .icon {
  width: 100%;
  height: auto;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

#arenas .arenas-item .icon img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

#arenas .arenas-item .details {
  text-align: center;
  padding: 10px 0 0;
  color: white;
}

#arenas .arenas-item h2 {
  font-size: 2rem;
  color: #FFD700;
  margin-bottom: 10px;
}

#arenas .arenas-item p {
  font-size: 1.4rem;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  #arenas .arenas {
    max-width: 100%;
    padding: 30px;
  }

  #arenas .arenas-item {
    max-width: 100%;
  }
}



@media (min-width: 768px) {
  #arena .arena-item {
    flex-basis: calc(33.33% - 20px);
    max-width: 250px;
  }
}

@media (min-width: 1024px) {
  #arena .arena-item {
    flex-basis: calc(33.33% - 20px);
    max-width: 300px;
  }
}



#source {
  padding: 50px 0;
  text-align: center;
}

#source .source {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

#source .source-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#source .source-item {
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #485563, #29323c);
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease box-shadow, transform;
}

#source .source-item:hover {
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

#source .icon img {
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  transition: 0.3s ease transform;
}

#source .source-item:hover .icon img {
  transform: scale(1.1);
}

#source .source-info h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #FFD700;
}

#source .source-info p {
  font-size: 1.2rem;
  color: #ffffff;
}

.view-more-btn {
  text-align: center;
  margin-top: 40px;
}

.view-more-btn button {
  background-color: #ffcc00;
  color: #800000;
  border: none;
  padding: 10px 25px;
  font-size: 2rem;
  border-radius: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background-color 0.3s;
}

.view-more-btn button:hover {
  background-color: transparent;
  border: 1px solid #ffcc00;
  color: #ffcc00;

}


.see-more-btn {
  text-align: center;
  margin-top: 40px;
}

.see-more-btn button {
  background-color: #800000;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 2rem;
  border-radius: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.3s;
}

.see-more-btn button:hover {
  background-color: transparent;
  border: 1px solid #800000;
  color: #800000;

}

.see-more-btn i {
  width: 20px;
  height: 20px;
}




#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
  min-height: 100px;
  flex-direction: column;
  padding-bottom: 10px;
}

@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}



@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }

  h1.section-title {
    font-size: 6rem;
  }

  #home h1 {
    font-size: 7rem;
  }

  #jerseys .jerseys-bottom .jerseys-item {
    flex-basis: 45%;
    margin: 2.5%;
  }

  #player .player-item {
    flex-direction: row;
  }

  #player .player-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  #player .player-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  #player .all-player .player-info {
    height: 100%;
  }

  #player .all-player .player-img {
    height: 100%;
  }

  #arenas .arenas-bottom .arenas-item {
    flex-basis: 45%;
    margin: 2.5%;
  }


  #source .source {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;

  }

  #source .source-items {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }

  #source .source-item {
    width: 100%;

    margin: 0;
    flex-direction: row;
  }

  #source .source-item .icon {
    width: 100px;
  }

  #source .source-item .icon img {
    object-fit: contain;
  }

  #source .source-item .source-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }

}


@media only screen and (min-width: 1200px) {
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a {
    font-size: 1.8rem;
  }

  #header .nav-list ul a:after {
    display: none;
  }


}